@using Cico.Models.Helpers
 <h3>Select Admin Option</h3>
    <p>
       
    </p>
    <ul>
        <li>@Html.ActionLink("Checklist builder", "Index", "ChecklistBuilder", new { area = "Admin" }, null)</li>
        <li>@Html.ActionLink("Office", "Index", "Office", new { area = "Admin" }, null)</li>
        <li>@Html.ActionLink("Users", "Index", "Employee", new { area = "Admin" }, null)</li>
        
        <li>@Html.ActionLink("CheckLists", "Index", "CheckLists")</li>
    </ul>