@using Cico.Models.Helpers
 <h3>Select Admin Option</h3>
    <p>
       
    </p>
<ul style="padding-left: 5px">
    <li>@Html.ActionLink("Check Lists", "Index", "CheckLists")</li>
    <li>@Html.ActionLink("Check List builder", "Index", "ChecklistBuilder", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Offices", "Index", "Office", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Users", "Index", "Employee", new { area = "Admin" }, null)</li>

</ul>