<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SchoolContext" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Cico.Models.CicoContext2;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <add name="Cico.Models.CicoContext" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Cico.Models.CicoContext2;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>