@model Cico.Models.Helpers.DropdownItem

@{
    ViewBag.Title = "Create Dropdown Item";
    
}

<h2>Create Dropdown Item</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    

    <div>
        Key
    </div>
    <div>
        @Html.TextBoxFor(c=>c.Key)
    </div>
    <div>
        Text
    </div>
    <div>
        @Html.TextBoxFor(c=>c.Description)
    </div>
    <div>
        Value Type
    </div>
    <div>
        @Html.TextBoxFor(c=>c.ValueType)
    </div>
    <div>
    <button type="submit">Save</button>    
    </div>
    
}
