@model Cico.CICOContainer
           
@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

@foreach (var item in Model.Items) {
    <tr>
        <td>
            @String.Format("{0:d}", item.Description)
        </td>
        <td>
            @item.DueDate
        </td>
    </tr>
}
</table>