@model Cico.Areas.Admin.CheckListsModel
           



<table class="admin-table">
    <tr>
        <th>Active Check Lists</th>
        <th>User Id</th>
        <th>Date Started</th>
    </tr>
    @foreach (var c in Model.CheckListModels)
    {
        <tr>
            <td>@c.EmployeeName</td>
            <td>@c.Employee.UserId</td>
            <td>@c.DateCreated</td>
        </tr>
    }
</table>