@using Cico.Models
@model Cico.Models.CheckListSession

@{
    ViewBag.Title = "Items";
}

<h2>Items</h2>
<style>
    
</style>

<ul>
    @foreach (var item in Model.CheckListItemSubmitionTracks)
    {
        <li >
            <div class="@item.CssClass()" style="float: left;width:20px">&nbsp;</div>
            <a style="float: left;width:200px" href="/home?id=@item.CheckListSession.Id#checkpoint/@item.Id">
                @item.CheckListItemTemplate.Description</a>
            @if (item.Checked && !item.Provisioned && item.CheckListItemTemplate.Provisional)
            {
                <form style="float: left"  action="/admin/checklists/approveProvisional" method="POST">
                    <input type="hidden" name="ItemId" value="@item.Id"/>
                    <input style="font-size: small;padding: 1px 1px 1px 1px" type="submit" value="Approve Provisional"/>
                </form>
            }
            <div style="clear:both"></div>
        </li>
    }
</ul>
