@model Cico.Controllers.DepententModel

@{
    ViewBag.Title = "Create";
}

<div class="homescreen-instructions"><label>Please enter your dependent's information. Select "Save" to save your changes</label></div>


@Html.Partial("DependentForm")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
