@model Cico.Models.DocumentTemplate

@{
    ViewBag.Title = "Delete Form";
}

<h2>Delete Template</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Office</legend>

    <div class="display-label">Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentTitle)
    </div>

    
  
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
