@{
    ViewBag.Title = "Home Page";
}
@section featured {
<div id="wrap">
<div id="header"><h1>@ViewBag.Title.</h1></div>
<div id="nav">
<ul>
<li><a href="#">Option 1</a></li>
<li><a href="#">Option 2</a></li>
...
</ul>
</div>
<div id="main">
<h2>@ViewBag.Message</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</p>
</div>
<div id="sidebar">
<h2>Column 2</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</p>
<ul>
<li><a href="#">Link 1</a></li>
<li><a href="#">Link 2</a></li>
...
</ul>
</div>
<div id="footer">
<p>Footer</p>
</div>
</div>

 
}
<h3>Your chck list items:</h3>
<ol class="round">
    <li class="one">
        <h5>Get Started</h5>
        <div>Item type: Form Data</div>
        Please folow the form in order to provide information:
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Submit a copy of your ID</h5>
        Item type: Document Submitted
        
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Fax you files to your manager</h5>
         Item type: Physical Activity
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
