@model IEnumerable<Cico.Models.Staff>

@{
    ViewBag.Title = "Staff";
   
}

<h2>Staff</h2>


<table class="admin-table">
    <tr>
        <th>User Id</th>
        <th>Email</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.UserId
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @Html.ActionLink("Edit","Edit",new{userid=item.UserId})
            </td>
        </tr>
    }
    
</table>