@model Cico.Models.Employee

@{
    ViewBag.Title = "Employee Data";
    
}

<div class="homescreen-instructions"><label>Please update your information. Select "Save" to save your changes</label></div>

@Html.Partial("EmployeeForm")