@model dynamic

@{
    ViewBag.Title = "Admin Home";
   
}

<h2>Users</h2>
<table>
    <tr>
        <td>John Doe</td>
        <td>Department </td>
    </tr>
</table>
<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Modify Check Lists", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>