@model Cico.Controllers.DepententModel

@{
    ViewBag.Title = "Edit Dependent";
    
}

<div class="homescreen-instructions"><label>Please update your dependent's information. Select "Save" to save your changes</label></div>
 @Html.ActionLink("Back to List", "Index",new {employeeId=Model.EmployeeId})
@using (Html.BeginForm())
{
    @Html.Partial("DependentForm")
    @Html.HiddenFor(model => model.Dependent.Id)
    
}

 