<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cicoconfiguration" type="Cico.Models.SharePoint.CicoConfiguration,Cico" />
  </configSections>
  <connectionStrings>

    <add name="SchoolContext" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Cico.Models.CicoContext2;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <add name="Cico.Models.CicoContext" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Cico.Models.CicoContext8;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <cicoconfiguration>
    <sharepoint password="26rtYsxGL" user="krzysiek" url="http://win-jt00o5f5kmt" listId="{768CDBE6-2BD9-4F80-AA58-91B38B1F061E}" domain="DOMAIN" siteName="" libraryName="testlib"></sharepoint>
  </cicoconfiguration>
  <system.net>
    <defaultProxy useDefaultCredentials="true"></defaultProxy>
    <mailSettings>
      <smtp>
        <!--<network host="smtp.gmail.com" port="587" userName="pawel@system-synergy.com" password="26rtYsxGL" enableSsl="true" />-->
        <network host="localhost"  />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>