@using Cico.Models.Helpers
@model Cico.Areas.Admin.DocumentTemplateModel

@{
    ViewBag.Title = "Create Form";
}

<h2>Create</h2>



@Html.Partial("_Form")
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
