@model Cico.Models.Office

@{
    ViewBag.Title = "Office Details";
}

<h2>Ofice Details</h2>

<fieldset>
    <legend>Office</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">ContactUser</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactUser)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.OfficeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
