@model Cico.Models.Dependent

@{
    ViewBag.Title = "Delete Dependent";
}

<h2>Delete Dependent</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Dependent</legend>

    <div class="display-label">Given Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>
    <div class="display-label">Relationship</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Relationship)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="DeleteDependent" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
