@model Cico.Controllers.HomeModel
@{
    ViewBag.Title = "Home Page";
}
<style>
   

    </style>
<script type="text/javascript" src="/scripts/tiny_mce/tiny_mce.js"></script>


<script type="text/javascript" src="/Scripts/jquery.form.js">
</script>
<script type="text/javascript" src="/Scripts/Forms/CicoFormBase.js">
</script>
<script type="text/javascript" src="/Scripts/notes.js"></script>
<script type="text/javascript" src="/Scripts/Forms/DocumentApprovalModel.js"></script>
<script type="text/javascript" src="/Scripts/Forms/DocumentSubmittedModel.js"></script>
<script type="text/javascript" src="/Scripts/Forms/SelfContainedFormModel.js"></script>
<script type="text/javascript" src="/Scripts/Forms/DocumentWritingModel.js"></script>
<script type="text/javascript" src="/Scripts/Forms/PhysicalActivityModel.js"></script>
<div class="columnsContainer">
    <div class="rightColumn">
        <div id="infoTabs">
            <ul>
                <li><a href="#myinfo">My Info</a></li>
                <li><a href="#completion">Completion Details</a></li>
                <li><a href="#mydependents">My dependents</a></li>
            </ul>
            

            <div id="completion">
                <div class="tabContent">
                    <div class="title ui-widget ui-widget-header">
                        <a style="float: right">Please complete the form</a>
                        <div style="clear:both"></div>
                    </div>
                    <div data-bind="with:selectedItem">

                        <div class="homescreen-label">
                            <label>Instructions:</label>
                        </div>
                        <div style="min-height: 50px" class="instructions homescreen-display" data-bind="html:InstructionText"></div>
                        <div class="homescreen-label">
                            <label>Due Date:</label>
                        </div>
                        <div  class="homescreen-display" data-bind="text:DueDate"></div>
                        
                        
                        <div class="homescreen-label">
                            <label>Action To Take:</label>
                        </div> 
                        <div data-bind="with:classModel">
                            
                            <div id="selectedForm" data-bind="template:{name:templateName}">
                            </div>
                        </div>

                    </div>
                    
                    <div data-bind="with:selectedItem">
                        <div class="homescreen-label">
                            <label>Notes</label>
                        </div> 
                        <div id="note-list">
                            <div>
                                <form id="notesForm" data-bind="submit:notes.addNote" >
                                    <div class="editor-label">
                                        
                                    </div>
                                    <div class="editor-field">
                                        <textarea id="note-editor" rows="5" data-bind="value:notes.Content"></textarea>
                                    </div>
                                    <div class="editor-field">
                                        <button type="submit">Add Note</button>
                                    </div>
                                </form>
                            </div>
                            <ul data-bind=" foreach: notes.notes" class="note-list">
                                <li>
                                    <div class="note-content" data-bind="html:Content"></div>
                                    <div class="note-tools">
                                        <div data-bind="text:'Date Created: '+ DateCreated"></div>
                                        <div data-bind="text:'Created by: '+ UserCreated" style="width: 180px"></div>
                                        <div class="toolbox-button" data-bind="click:$parent.notes.deleteNote" style="width: 50px">Delete</div>
                                    </div>
                                    <div style="clear: both"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="myinfo">

                <div class="tabContent">
                    <div class="title ui-widget ui-widget-header">
                       <a href="/employee/edit/@Model.Employee.Id" style="float: right">Edit my data</a>
                        <div style="clear:both"></div>
                    </div>
                    @Html.Partial("EmployeeForm", Model)
                </div>

            </div>
            <div id="mydependents">
                <div class="tabContent">
                    <div class="title ui-widget ui-widget-header">
                        <a href="/dependent/create/@Model.Employee.Id" style="float: right">Add Dependent</a>
                        <div style="clear:both"></div>
                    </div>
                    </div>
                @Html.Partial("_DependentsList", Model.Dependents)
            </div>
           
        </div>
    </div>
    <div class="leftColumn">
        <div id="checkInTabs">
            <ul>
                <li><a href="#checkIn">Check-In</a></li>
                <li><a href="#checkOut">Check-out</a></li>
            </ul>
            
            <div id="checkIn">
                <div class="homescreen-label">
                    <label>Click on an item from the list to complete</label>
                </div>
                <ul data-bind="foreach: checklist " class="checklist ">
                    <li>
                        <div data-bind="css: { selected: selected }" class="checkInItem ui-corner-all">
                            <div data-bind="text: Description, click:selectItem" class="description" style="width: 190px;float:left"></div>
                            <div style="float:right;padding-right: 5px;text-align: center">
                                <div class="" data-bind="css: CssClass">&nbsp; &nbsp;</div>
                                <div class="checkbox">
                                    <input data-bind="checked: ItemChecked" type="checkbox" disabled="disabled" />
                                </div>
                            </div>
                            <div style="clear: both"></div>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="checkOut">
            </div>

        </div>

    </div>
    <div style="clear: both"></div>
</div>

<script type="text/html" id="DocumentApproval">
  
        <div data-bind="html:ApprovalText" ></div>
        Please download document: <a target="_blank" data-bind="attr: { href: FileUrl },text:FileDesc,click:docDownloaded" >Document Template</a>
    
</script>


<script type="text/html" id="DocumentSubmitted">
   <form id="docSubmitted" data-bind="submit:submitDoc"  enctype="multipart/form-data" method="POST">
        <input name="docSubmitted" type="file" />
        <input type="submit" value="Submit" />
    </form>
    <div data-bind="with:submittedFile">
        Submitted file:
        <a target="_blank" data-bind="attr: { href: Url },text:Description"></a>
    </div>
</script>

<script type="text/html" id="PhysicalActivity">
    <div data-bind="html:ApprovalText" ></div>
    
    <button data-bind="click:complete,enable: buttonEnabled,text:buttonText">Complete</button>
</script>

<script type="text/html" id="DocumentWriting">
    
    Please download document: <a target="_blank" data-bind="attr: { href: FileUrl },text:FileDesc" >Document Template</a>

    <form id="docSubmitted" data-bind="submit:submitDoc"  enctype="multipart/form-data" method="POST">
        <input name="docSubmitted" type="file" />
        <input type="submit" value="Submit" />
    </form>
    <div data-bind="with:submittedFile">
        Submitted file:
        <a target="_blank" data-bind="attr: { href: Url },text:Description"></a>
    </div>

</script>

<script type="text/html" id="SelfContainedForm">
    <div data-bind="template:{name:Form}">

    </div>

</script>
<script type="text/html" id="none">
    <form method="post">
    </form>

</script>

@Html.Partial("_SystemForms")

<script type="text/javascript">
    ko.bindingHandlers.stopBindings = {
        init: function () {
            return { 'controlsDescendantBindings': true };
        }
    };


    $(function () {
        $("#infoTabs").tabs();
        $("#infoTabs").tabs("select", "#myinfo");
        //$('#infoTabs').tabs('option', 'selected', 0);
        $("#checkInTabs").tabs();
    });


    function ComplationDetailsModel(item) {
        var self = this;

        self.submitDoc = function (e) {
            $.post('/checklist/UploadFile', { itemTemplateId: item.Id }, function (data) {
                item.Checked(data.Checked);
                item.CssClass(data.CssClass);
            });
            return false;
        };
    }


    function CheckBoxItem(checked, description, id, homeModel, ItemTemplate, CssClass, ditem) {
        var self = this;
        self.item = ditem;
        self.selectItem = function (item) {
            // item.Checked(false);
            if (item) {
                $('#infoTabs').tabs('option', 'selected', 1);
                ko.utils.arrayForEach(homeModel.checklist(), function (ii) {
                    ii.selected(false);
                });
                item.selected(true);
                homeModel.selectedTemplate(item.ItemTemplate);
                homeModel.selectedItem(item);
                tinyMCE.init({
                    mode: "textareas",
                    theme: "simple"
                });
            }
        };



        self.Id = id;
        self.ItemChecked = ko.observable(checked);
        self.Description = ko.observable(description);
        self.menuItems = ko.observableArray([]);
        self.selected = ko.observable(false);
        self.ItemTemplate = ItemTemplate;
        self.CssClass = ko.observable(CssClass);
        self.notes = new NoteListModel(this.item);
        self.InstructionText = ditem ? ditem.InstructionText : "";
        self.DueDate = ditem.DueDate;
        //self.classModel = ko.observable();

        switch (ItemTemplate) {
            case "DocumentSubmitted":
                self.classModel = ko.observable(new DocumentSubmittedModel(this));
                break;
            case "SelfContainedForm":
                self.classModel = ko.observable(new SelfContainedFormModel(this));
                break;
            case "DocumentWriting":
                self.classModel = ko.observable(new DocumentWritingModel(this));
                break;
            case "DocumentApproval":
                self.classModel = ko.observable(new DocumentApprovalModel(this));
                break;
            case "PhysicalActivity":
                self.classModel = ko.observable(new PhysicalActivityModel(this));
                break;
            default:
                alert('unknown model ' + ItemTemplate);
        }

        self.checkIn = function () {

        };
        
    }

    function HomeViewModel() {
        var self = this;
        self.selectedItem = ko.observable();
        self.selectedTemplate = ko.observable("none");
        self.checklist = ko.observableArray();
        $.post("/checklist", {}, function (data) {
            ko.utils.arrayForEach(data.CheckListItems, function (item) {
                self.checklist.push(new CheckBoxItem(item.Checked, item.Description, item.Id, self, item.ItemTemplate, item.CssClass, item));
            });
        });

        self.complationDetails = ko.observable(new ComplationDetailsModel());
    }

    var homeModel = new HomeViewModel();
    ko.applyBindings(homeModel);

</script>

