@model Cico.Controllers.HomeModel
@{
    ViewBag.Title = "Home Page";
}
<style>
   

</style>
<script type="text/javascript" src="/Scripts/jquery.form.js">
</script>

<script type="text/javascript" src="/Scripts/DocSubmitted/DocSubmitted.js">
</script>
<div class="columnsContainer">
    <div class="rightColumn">
        <div id="infoTabs">
            <ul>
                <li><a href="#myinfo">My Info</a></li>
                <li><a href="#completion">Completion</a></li>
                <li><a href="#mydependents">My dependents</a></li>
                <li><a href="#housingquestionare">My Housing Questionaire</a></li>
            </ul>
            <div id="completion">
                
                <div data-bind="template: { name: selectedTemplate(), data: complationDetails }" style="height: 300px">
                    
                </div>
            </div>
            <div id="myinfo">
                <div></div>
                @Html.Partial("EmployeeForm", Model.EmployeeModel)
            </div>
            <div id="mydependents">
            </div>
            <div id="housingquestionare">
            </div>
        </div>
    </div>
    <div class="leftColumn">
        <div id="checkInTabs">
            <ul>
                <li><a href="#checkIn">Check-In</a></li>
                <li><a href="#checkOut">Check-out</a></li>
            </ul>
            <div id="checkIn">
                <h4>Priority 1</h4>
                <ul data-bind="foreach: checklist " class="checklist">
                    <li>
                        <div data-bind="css: { selected: selected }" class="checkInItem">
                            <div class="ico ui-icon ui-icon-document" data-bind="css: CssClass">&nbsp; &nbsp;</div>
                            <div class="checkbox">
                                <input data-bind="checked: Checked" type="checkbox" disabled="disabled" /></div>
                            <div data-bind="text: Description, click:selectItem" class="description"></div>
                            
                        </div>
                    </li>

                </ul>
                <h4>Priority 2</h4>

            </div>

            <div id="checkOut">
            </div>

        </div>

    </div>
    <div style="clear: both"></div>
</div>



<script type="text/html" id="DocumentSubmitted">
    Document Submitted
    <form data-bind="submit:submitDoc">
        <input name="docSubmitted" type="file"/>
        <input type="submit" value="Submit" />
    </form>
</script>

<script type="text/html" id="SelfContainedForm">
    <form    method="post">
        Self contained form 
    </form>
    
</script>
<script type="text/html" id="none">
    <form    method="post">
        
    </form>
    
</script>

<script type="text/javascript">
    $(function () {
        $("#infoTabs").tabs();
        $("#checkInTabs").tabs();
    });

   
   function ComplationDetailsModel(item) {
       var self = this;
       
       self.submitDoc = function(e) {
          $.post('/checklist/UploadFile', { itemTemplateId: item.Id }, function (data) {
              item.Checked(data.Checked);
              item.CssClass(data.CssClass);
           });
           return false;
       };
   }
   

   function CheckBoxItem(checked, description, id, homeModel, ItemTemplate,CssClass) {
        var self = this;
        self.selectItem = function (item) {
           // item.Checked(false);
            if (item) {
                $('#infoTabs').tabs('option', 'selected', 1);
                ko.utils.arrayForEach(homeModel.checklist(), function (ii) {
                    ii.selected(false);
                });
                item.selected(true);
                homeModel.complationDetails(new ComplationDetailsModel(item));
                homeModel.selectedTemplate(item.ItemTemplate);
            }
        };

        self.Id = id;
        self.Checked = ko.observable(checked);
        self.Description = ko.observable(description);
        self.menuItems = ko.observableArray([]);
        self.selected = ko.observable(false);
        self.ItemTemplate = ItemTemplate;
        self.CssClass = ko.observable(CssClass);
        self.checkIn = function () {

        };
        self.Checked.subscribe(
            function (newValue) {
                $.post("/checklist/updateitem", self, function (data) {

                });
            }
        );
    }

    function HomeViewModel() {
        var self = this;
        self.selectedTemplate = ko.observable( "none" );
        self.checklist = ko.observableArray();
        $.post("/checklist", {}, function (data) {
            ko.utils.arrayForEach(data.CheckListItems, function (item) {
                self.checklist.push(new CheckBoxItem(item.Checked, item.Description, item.Id, self, item.ItemTemplate,item.CssClass));
            });
        });

        self.complationDetails = ko.observable(new ComplationDetailsModel());
    }

    var homeModel = new HomeViewModel();
    ko.applyBindings(homeModel);


</script>

